<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima qui
    dignissimos accusantium illo eos rerum eveniet accusamus odit, molestiae et
    facere voluptatum tempora voluptate recusandae voluptatibus possimus
    adipisci natus dolore!  
    <br>
    <button onclick="Back()">Back Button</button>
    <script type="text/javascript" src="../script.js"></script>
  </body>
</html>
